body {
  font-family: 'Roboto'; }

h1 {
  font-size: 24px; }

.gamecontainer {
  background: pink;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 20px;
  position: relative; }
  .gamecontainer h3 {
    text-align: center;
    font-size: 20px; }
  .gamecontainer .secretNum {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    background: crimson;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    color: #fff;
    font-size: 34px;
    padding-top: 30px; }
  .gamecontainer .btn {
    border-radius: 5px;
    color: #fff;
    padding: 6px 15px;
    margin: 0;
    background: darkblue;
    border: 0px;
    cursor: pointer; }
    .gamecontainer .btn.reset {
      background: crimson; }
      .gamecontainer .btn.reset:disabled {
        background: darkgray;
        cursor: not-allowed !important; }
    .gamecontainer .btn.check {
      background: darkgreen; }
      .gamecontainer .btn.check:disabled {
        background: darkgray;
        cursor: not-allowed !important; }
  .gamecontainer .inputsrc {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    color: darkslateblue;
    margin: 15px 0;
    border: none;
    font-size: 18px; }
